.page-main article {
    max-width: 960px;
}

.interactive-form {
    margin-bottom: 2rem;
    position: relative;
}

.interactive-form section {
    pointer-events: none;
    display: none;
}

.interactive-form section.active {
    pointer-events: all;
    display: block;
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.interactive-form .container {
    display: flex;
}

.interactive-form .container .content {
    flex: 10 1 auto;
    margin-right: 4rem !important;
}

.interactive-form .container > aside {
    flex: 1 0 210px;
    max-height: 500px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.interactive-form .container aside > div:first-child {
    flex: 0 1 auto;
    max-height: 50%;
    overflow: auto;
}

.interactive-form section h2 {
    font-size: 1.5rem;
    color: $marinho;
    font-weight: 700;
    margin-bottom: 1rem;
}

.interactive-form [data-section="calculo-montante"] .content,
.interactive-form [data-section="informacoes-pessoais"] .content,
.interactive-form [data-section="revise-seu-pedido"] .content {
    background: lighten(black,90);
    padding: 1.5rem;
    margin: 0 2rem 0 0;
    /* width: 100%; */
}

.interactive-form [data-section="calculo-montante"] .nav-buttons {
    align-items: flex-end;
}

.interactive-form [data-section] div > h3,
.interactive-form [data-aside] h3 {
    margin-top: 0 !important;
    font-size: 1rem !important;
    color: lighten(black,50) !important;
    text-transform: uppercase;
}

.interactive-form [data-section="revise-seu-pedido"] .content > div {
    display: flex;
    margin-bottom: 2rem;
}

.interactive-form [data-section="revise-seu-pedido"] .content > div:first-child > div {
    flex-basis: 50%;
}

.interactive-form [data-section="calculo-montante"] .content h3 {
    border-bottom: 1px solid lighten(black,70);
    padding-bottom: .85rem;
}
.interactive-form [data-section="informacoes-pessoais"] .content label {
    font-size: 1rem;
}

.interactive-form [data-section="calculo-montante"] .content > div {
    padding: .5rem 0;
}

.interactive-form [data-section="calculo-montante"] .content > div:first-of-type {
    border-bottom: 1px solid lighten(black,70);
}

.interactive-form label {
    font-weight: 600;
    color: $marinho;
    display: block;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.interactive-form input[type=number] {
    width: 6ch;
    text-align: center;
    padding-right: 0;
    padding-left: .2rem;
}

input[name=frequencia] + * {
    margin: 0 1rem;
}

.interactive-form .helper-message {
    color: lighten(black,40);
    font-size: .85rem;
}

.interactive-form .iq-dropdown {
    text-rendering: auto;
    background: white;
    color: -internal-light-dark-color(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    margin: 0em;
    font: 400 13.3333px Arial;
    cursor: default;
    position: relative;
    z-index: 99;
}

.interactive-form .iq__title, .iq__option {
    padding: .5rem;
    vertical-align: middle;
    display: block;
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.interactive-form .iq__options {
    width: 100%;
    background: white;
}

.interactive-form .iq__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

.interactive-form .iq__option input {
    flex-flow: 0 0 100%;
}

.interactive-form .iq__option .iq__label {
    margin-right: 1rem;
    flex-flow: 0 1 auto;
}

.interactive-form .iq__title::after {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 57 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M56.57 9.19L47.38 0L28.29 19.09L9.19 0L0 9.19L28.29 37.48L56.57 9.19Z' fill='%23272727'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='56.57' height='37.48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    width: .8rem;
    cursor: default;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: absolute;
    right: 0;
    margin-right: 1rem;
}

.interactive-form .iq-dropdown {
    width: 13rem;
}

.interactive-form .iq-dropdown .iq__options {
    display: none;
}

.interactive-form .iq-dropdown.active .iq__options {
    display: block;
    position: absolute;
}

.interactive-form .iq-dropdown.active .iq__title::after {
    transform: rotate(-180deg);
}

.interactive-form .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.interactive-form .nav-buttons button {
    border: 0;
    padding: .8rem 1rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.interactive-form .nav-buttons button.submit {
    background: $marinho;
    color: $amarelo;
    margin-right: 2rem;
}

.interactive-form .nav-buttons button.save {
    color: $marinho;
    background: $amarelo;
    margin-left: 2rem;
}

.interactive-form .nav-buttons button:hover {
    transition: all .1s linear;
    opacity: .98;
}

.interactive-form .nav-buttons button.submit:after {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 38 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M9.19 0L0 9.19L19.09 28.28L0 47.38L9.19 56.57L37.48 28.28L9.19 0Z' fill='%23262E60'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='37.48' height='56.57' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background: #f4c000;
    /* color: #f4c000; */
    padding: 11px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 30px;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    transition: all 0.1s linear;
    flex-direction: column;
    flex: 1 1 100%;
}

.interactive-form .nav-buttons button.save:before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M53 20H33V0H20V20H0V33H20V53H33V33H53V20Z' fill='%23f4c000'/%3E%3C/svg%3E%0A");
    background: #262e60;
    color: #f4c000;
    padding: 10px;
    /* fill: #fff; */
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 30px;
    height: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    transition: all 0.1s linear;
    flex-direction: column;
    flex: 1 1 100%;
}

.interactive-form [data-section="informacoes-pessoais"] .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.interactive-form [data-section="informacoes-pessoais"] .content input {
    width: 100%;
    display: block;
}

.interactive-form [data-section="informacoes-pessoais"] .content > div {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.interactive-form [data-section="informacoes-pessoais"] .content > div:nth-child(7) {
    grid-column: span 12;
}

.interactive-form [data-section="informacoes-pessoais"] .content > div:nth-child(8) {
    grid-column: span 2;
}

.interactive-form [data-section="informacoes-pessoais"] .content > div:nth-child(9) {
    grid-column: span 10;
}

.interactive-form [data-section="informacoes-pessoais"] .content div:nth-child(10) {
    grid-column: span 12;
}

.interactive-form [data-section="informacoes-pessoais"] .content .nav-buttons {
    grid-column: span 12;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.interactive-form [data-section="revise-seu-pedido"] .content .nav-buttons {
    margin-top: 2rem;
}

.interactive-form [data-cards] {
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 2rem) / 4));
    gap: 1rem;
}

@media (max-width: 1366px) {
    .interactive-form [data-cards] {
        grid-template-columns: repeat(3, calc((100% - 2rem) / 3));
    }
}

@media (max-width: 1009px) {
    .interactive-form [data-cards] {
        grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }
}

@media (max-width: 940px) {
    .interactive-form [data-cards] {
        grid-template-columns: repeat(3, calc((100% - 2rem) / 3));
    }
}

@media (max-width: 1049px) {
    .interactive-form .container {
        flex-direction: column;
    }

    .interactive-form [data-section] .content {
        margin-right: 0 !important;
        margin-bottom: 2rem;
    }

    .interactive-form [data-aside] {
        margin-bottom: 2rem;
    }
}

@media (max-width: 479px) {
    .interactive-form [data-section="informacoes-pessoais"] .content {
        grid-template-columns: repeat(6, 1fr);
    }

    .interactive-form [data-section="informacoes-pessoais"] .content > div {
        grid-column: span 12;
    }

    .interactive-form .nav-buttons {
        flex-direction: column-reverse;
    }

    .interactive-form .nav-buttons button {
        margin: 0.5rem;
    }
}

@media (max-width: 466px) {
    .interactive-form select[name=periodo] {
        margin-top: .5rem;
    }
}

@media (max-width: 534px) {
    .interactive-form [data-cards] {
        grid-template-columns: repeat(2, calc((100% - 2rem) / 2));
    }
}

@media (max-width: 390px) {
    .interactive-form .container {
        justify-content: center;
    }
    .interactive-form [data-cards] {
        grid-template-columns: 1fr;
    }
}

.interactive-form [data-card] {
    background: $marinho;
    display: block;
    border: 0;
    color: white;
    text-transform: uppercase;
    padding: 2rem .5rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 1px solid $marinho;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.interactive-form [data-card] img {
    height: 1.75rem;
}

.interactive-form [data-card] > h3 {
    margin-top: .5rem !important;
    color: white !important;
    font-size: .85rem;
    font-weight: 500;
}

.interactive-form [data-card]:hover {
    background: transparentize($marinho,.2);
    // border: 1px solid $marinho;
}

.interactive-form aside {
    display: flex;
    flex-direction: column;
}

.interactive-form aside h3:not(:first-child) {
    margin-bottom: 0;
    margin-top: 1rem !important;
}

.interactive-form aside div {
    margin-bottom: 1rem;
    word-wrap: break-word;
}

.interactive-form [data-aside] {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.interactive-form [data-aside] > div > div:first-child {
    flex: 0 1 auto;
}

.interactive-form [data-aside] > div:last-child {
    flex: 0 0 200px;
    border-top: 1px solid lighten(black,70);
    padding-top: 1rem;
}

.interactive-form aside p {
    margin: 0;
}

.interactive-form .btn__secondary {
    font-size: .85rem;
    color: $marinho;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding: 0;
    font-weight: 700;
}

.interactive-form .btn__secondary + .btn__secondary {
    margin-left: 1rem;
}

.interactive-form .btn__secondary--edit:before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.581 46.2698H6.73016V15.419H26.5867L33.3169 8.68884H0V53H44.3112V19.6831L37.581 26.4133V46.2698Z' fill='%23262E60'/%3E%3Cpath d='M45.7303 0.00141147L39.827 5.90468L47.0926 13.1702L52.9959 7.26697L45.7303 0.00141147Z' fill='%23262E60'/%3E%3Cpath d='M16.6713 29.0655L14.2117 38.7883L23.9344 36.3287L45.2809 14.9887L38.0113 7.71913L16.6713 29.0655Z' fill='%23262E60'/%3E%3C/svg%3E%0A");
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.interactive-form .btn__secondary--remove:before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 53 53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.5635 0L26.5057 16.0579L10.4365 0L0 10.4365L16.0579 26.5057L0 42.5635L10.4365 53L26.5057 36.9421L42.5635 53L53 42.5635L36.9421 26.5057L53 10.4365L42.5635 0Z' fill='%23262E60'/%3E%3C/svg%3E%0A");
    display: inline-block;
    margin-right: 0.3rem;
    font-size: 0.5rem;
    width: 0.8rem;
    vertical-align: middle;
}

.interactive-form .title-wrapper {
    display: flex !important;
    align-items: center;
    margin-bottom: 1rem;
}

.interactive-form .title-wrapper h2 {
    margin-bottom: 0 !important;
    margin-right: 1rem;
}

.interactive-form .progress {
    margin: 0 0 2rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.interactive-form .steps {
    flex: 1 1 auto;
    display: grid;
    height: 2.1rem;
    max-width: 27rem;
    border-radius: 100px;
    border: 2px solid #262E60;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

.interactive-form .steps .progress__value {
    display: block;
    height: 100%;
    border-right: 1px dashed #262E60;
}

.interactive-form .steps .progress__value.active {
    background: #F4C000;
    cursor: pointer;
}

.interactive-form .steps .progress__value.active:hover {
    filter: hue-rotate(3deg) saturate(4);
}

.interactive-form .progress .previous {
    /* Inactive */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
    fill: #c0c0c0;
    transition: all 0.2s cubic-bezier(1, -0.06, 0, 2.38);
}

.interactive-form .progress .previous.active {
    fill: #262E60;
}

.interactive-form .progress .previous.active:hover {
    fill: #344085;
    cursor: pointer;
    transform: scale(1.1);
}

.interactive-form .progress .next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.75rem;
    fill: #c0c0c0;
    transform: rotateY(180deg);
    transition: all 0.2s cubic-bezier(1, -0.06, 0, 2.38);
}

.interactive-form .progress .next.active {
    fill: #262E60;
}

.interactive-form .progress .next.active:hover {
    cursor: pointer;
    fill: #262E60;
    transform: rotateY(180deg) scale(1.1);
}

.interactive-form .clear {
    color: #F4C000;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .85rem;
    cursor: pointer;
}

.interactive-form .progress__value:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.interactive-form .progress__value:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-right: 0 !important;
}

.interactive-form aside ul li {
    list-style: disc;
}

.interactive-form aside ul li::before {
    display: none !important;
}

.interactive-form .loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interactive-form .loading__message::before {
    content: '';
    display: block;
    background: white;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    border: 5px solid rgba(244, 191, 0, 0.23);
    border-bottom: 5px solid $marinho;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 1rem auto;
}

.interactive-form .loading__message {
    margin: auto !important;
    text-align: center;
    color: $marinho;
    font-size: .85rem;
}

.interactive-form .cards-description strong {
    color: $marinho;
}

.interactive-form .cards-description {
    margin-top: 0;
}

.interactive-form hr {
    margin: 1rem 0;
}

.interactive-form hr + p a {
    color: $marinho;
    font-weight: bold;
}

@keyframes flip-in-hor-bottom {
    0% {
      transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      transform: rotateX(0);
      opacity: 1;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.cta-flutuante {
    pointer-events: none;
}

.cta-flutuante a {
    pointer-events: all;
}

.interactive-form [data-section="calculo-montante"] .container > aside {
    justify-content: flex-start !important;
}

.interactive-form [data-history] > div + div {
    margin-top: 3.5rem;
}
